{% load crispy_forms_tags %}
{% include 'messages.html' %}
{% block content %}
{% include 'links.html' %}
{% include 'header.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load humanize %}

<style type="text/css">

</style>
<hr>
<div class="container-fluid p-7 bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h3>{{request.user}}</h3></div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png"></a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h2> Username</h2>
        </div>
        <div class="card-body">
            
            <div class="row">
                <div class="col-sm-4 col-lg-6">
                    
            <ul class="nav nav-tabs" id="myTab">
                <li class="active nav-item"><a href="#home" class="nav-link" data-toggle="tab">Order</a></li>
                <li class="nav-item"><a href="#messages" class="nav-link" data-toggle="tab">Files</a></li>
                <li class="nav-item"><a href="#settings" class="nav-link" data-toggle="tab">Sections</a></li>
            </ul>

            <div class="tab-content">
                
                <!--/tab-pane-->
                
                <div class="tab-pane" id="home">
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 bg-secondary text-white">
                            <p>Action</p>
                            <p>Order Number</p>
                            <p>Order Type</p>
                            <p>Amount</p>
                            <p>Payment Status</p>
                            <p>Academic Level</p>
                            <p>Solution Format</p>
                            <p>Request Type</p>
                            <p>DeadLine</p>
                            <p>Course Description</p>
                            <p>More Information</p>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            {% for assignment in filter.qs %}
                            {% if forloop.first %}
                            <div class="button-group">
                                <button class="btn btn-primary btn-sm"><i class="fa fa-upload">upload</i></button>
                                <button class="btn btn-danger btn-sm"><i class="fa fa-close">cancel order</i></button>
                                <button class="btn btn-success btn-sm"><i class="fa fa-list">order section</i></button>
                            </div>
                            {% for order in assignment.allowed_memberships.all %}
                            <p>{{order.stripe_plan_id}}</p>
                            <p>{{order.get_membership_type_display}}</p>
                            <p>${{order.price}}</p>
                            {% if order.payment_status %}
                            <div class="alert alert-success" role="alert">
                                Payment completed 
                            </div>
                            {% else %}
                            <div class="alert alert-warning" role="alert">
                                Pending Quote
                                <a class="badge badge-primary pull-right" href="{% url 'payments:select' %}">complete payment</a>
                            </div>
                            {% endif %}
                            {% endfor %}
                            <p>{{assignment.get_level_display}}</p>
                            <p>{{assignment.solution_format}}</p>
                            <p>{{assignment.get_types_display}}</p>
                            <p>{{assignment.deadline}}</p>
                            <p>{{assignment.course_description}}</p>
                            <p>{{assignment.more_info}}</p>
                            {% endif  %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--/tab-pane-->
                
                <!-- tab-pane -->
                <div class="tab-pane active" id="messages">
                    <div class="table-responsive">
                        
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Assignment Type</th>
                                    <th>Time Uploaded</th>
                                    <th>Uploaded By</th>
                                    
                                </tr>
                            </thead>
                            <tbody id="items">
                                <tr>
                                    <td>{{data.pk}}</td>
                                    {% if data is not None or membership_type == 'Free' %}
                                    <td>{{data.document}}<a href="{{data.document.url}}" download><i class="fa fa-download"></i></a></td>
                                    {% else %}
                                    <td><a href="{% url 'payments:select' %}" class="btn btn-sm btn-warning"> <i class="fa fa-money"></i> Make Payments To access</a></td>
                                    {% endif %}
                                    <td>{{ data.get_types_display }}.</td>
                                    <td>{{ data.uploaded_at|timesince}} ago.</td>
                                    <td>{{ request.user.username }}</td>
                                </tr>
                     
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 text-center">
                                <ul class="pagination" id="myPager"></ul>
                            </div>
                        </div>
                    </div>
                    <!--/table-resp-->

                    <hr>

                </div>

            
            </div>
            <!--/tab-pane-->
        </div>
        <hr>
        <!--/tab-content-->
        <div class="col-sm-4 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h2>Support Conversation</h2>
                </div>
                <div class="card-body">
                    {% if not request.user.is_staff %}
                    {% url 'chat:index' as the_url %}
                    {% include 'chat/room.html' with link=the_url %}
                    {% endif %}
                    {% if request.user.is_staff %}
                    {% include 'chat/room.html' with link=the_url %}
                    {% endif %}
                </div>
            </div>


            


    </div>
    <!--/col-9-->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New message</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="form-group">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
     
      </div>
      
      
</div>
<!--/row-->
  {% include 'scripts.html' %}


{% endblock %}