{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Elite Homework Master</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="/" class="nav-link">home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">about us</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">How it works</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item"><a href="{% url 'assignments:search' %}" class="nav-link">View assignments</a>
            </li>
            {% endif %}
            <li class="nav-item"><a href="#" class="nav-link">Contact us</a></li>
            <li class="nav-item"><a href="{% url 'assignments:upload' %}" class="nav-link">order now</a></li>
            {% if request.user.is_authenticated%}
            <li class="nav-item">
                <a href="{% url 'authentication:logout' %}" class="nav-link">log out</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'authentication:profile' %}" class="nav-link">view profile</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a href="{% url 'authentication:login' %}" class="login">log in</a>
                <a href="{% url 'authentication:sign_up' %}" class="template-btn">sign up</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown" >
                {% if request.user.is_superuser %}
                <a  class="nav-link btn btn-info btn-sm" href="{% url 'chat:index' %}" >
                    <i class="fa fa-user">Admin Dashboard</i>
                </a>
                {% endif %}
            </li>
        </ul>
        
    </div>
  </nav>
    